<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      My library - {{ allSavedBooks.length }} {{ (allSavedBooks.length == 1) ? 'book' : 'books' }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button id="clearall-button" (click)="removeAllFromLibrary()">Clear all</ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">My library - {{ allSavedBooks.length }} {{ (allSavedBooks.length == 1) ? 'book' : 'books' }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" *ngIf="allSavedBooks.length > 0; else noItems">
    <div *ngFor="let bookItem of allSavedBooks">

      <ion-card [routerLink]="['detail', bookItem.id]" (click)="sendData(bookItem.id)">

        <ion-grid>
          <ion-row class="ion-align-items-start">
            <ion-col size="auto">
              <ion-card-content>
                <img src="{{ bookItem.volumeInfo?.imageLinks?.thumbnail }}" />
              </ion-card-content>
            </ion-col>

            <ion-col>
              <ion-card-header>
                <ion-card-title>{{ bookItem.volumeInfo?.title }}</ion-card-title>
                <div *ngFor="let author of bookItem.volumeInfo?.authors">
                  <ion-card-subtitle>{{ author }}</ion-card-subtitle>
                </div>
                <ion-card-subtitle>{{ bookItem.volumeInfo?.publishedDate }}</ion-card-subtitle>
              </ion-card-header>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card>

    </div>
  </div>

  <ng-template #noItems>
    <div id="container-library-empty">
      <ion-icon id="library-icon" name="library-outline"></ion-icon>
      <h1>Your library is completely empty.</h1>
      <p>Find new books and add them to your library!</p>
    </div>
  </ng-template>

</ion-content>