<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About this app
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About this app</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      <ion-icon id="app-main-icon" name="library-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
      <ion-icon id="app-main-icon" name="book-outline"></ion-icon>&nbsp;&nbsp;&nbsp;
      <ion-icon id="app-main-icon" name="bookmarks-outline"></ion-icon>
      <h1>LibraLink - Explore & Collect Books</h1>
      <br />
      <h3>Created using Ionic Framework with Angular.</h3>
      <h3>Powered by Google Books API.</h3>
      <a href="https://github.com/petrmarak/gbooks">Source code on GitHub</a>
      <br /><br />
      <p>A school project made for Mobile application programming subject at FAI TBU in Zlin.</p>
      <p>&copy; 2024, Petr Mařák</p>
    </div>
  </div>

</ion-content>
